<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Forms</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" *ngIf="currentUser">
            <a class="nav-item nav-link" routerLink="/Home">Home</a>
            <a class="nav-item nav-link" routerLink="ManageUsers">Manage users</a>
          </div>
      <div class="navbar-nav ml-auto" *ngIf="!currentUser">
        <a class="nav-item nav-link" routerLink="/SignUp">Sign Up</a>
        <a class="nav-item nav-link" routerLink="/SignIn">Sign in</a>
      </div>
      <div class="navbar-nav ml-auto" *ngIf="currentUser">
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
    </div>
  </nav>